# Historical Data Load

This jupyter notebook is used to manually load daily ticker price (Open | Close | High | Low | Volume) data dump from yahoo finance.
FB sample link: https://finance.yahoo.com/quote/FB/history?p=FB

In [1]:
import pandas as pd
import sqlite3
import datetime as dt

In [2]:
db = sqlite3.connect('/Users/jegankarunakaran/AlgoTrading/code/AlgoTrading/strategies/db/ema_rsi_camarilla.db')
c = db.cursor()

### FB Data Load

In [2]:
fb = pd.read_csv('/Users/jegankarunakaran/AlgoTrading/data/daily_history/FB.csv')

In [3]:
fb.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2020-09-01,294.709991,301.489990,292.709991,295.440002,295.440002,17295900
1,2020-09-02,298.880005,303.600006,293.049988,302.500000,302.500000,24341400
2,2020-09-03,295.989990,297.600006,283.630005,291.119995,291.119995,32294100
3,2020-09-04,287.250000,289.000000,271.140015,282.730011,282.730011,30333700
4,2020-09-08,271.279999,279.299988,269.420013,271.160004,271.160004,24864000

In [8]:
for index, item in fb.iterrows():
    try:
        vals = ['FB', dt.datetime.strptime(item['Date'], "%Y-%m-%d").date(), 
            item['Open'], item['Close'], item['High'], item['Low'], item['Volume']]
        query = "INSERT INTO DAILY_PRICE (ticker, close_date, open_price, close_price, high_price, low_price,volume) VALUES (?,?,?,?,?,?,?)"
        c.execute(query,vals)
    except Exception as e:
            print("db error {}".format(e))

try:
    db.commit()
except:
    db.rollback()

### MSFT Data Load

In [9]:
msft = pd.read_csv('/Users/jegankarunakaran/AlgoTrading/data/daily_history/MSFT.csv')

In [10]:
msft.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2020-09-01,225.509995,227.449997,224.429993,227.270004,225.203552,25725500
1,2020-09-02,227.970001,232.860001,227.350006,231.649994,229.543701,34080800
2,2020-09-03,229.270004,229.309998,214.960007,217.300003,215.324188,58400300
3,2020-09-04,215.100006,218.360001,205.190002,214.250000,212.301926,59664100
4,2020-09-08,206.500000,210.029999,202.199997,202.660004,200.817322,52924300

In [11]:
for index, item in msft.iterrows():
    try:
        vals = ['MSFT', dt.datetime.strptime(item['Date'], "%Y-%m-%d").date(), 
            item['Open'], item['Close'], item['High'], item['Low'], item['Volume']]
        query = "INSERT INTO DAILY_PRICE (ticker, close_date, open_price, close_price, high_price, low_price,volume) VALUES (?,?,?,?,?,?,?)"
        c.execute(query,vals)
    except Exception as e:
            print("db error {}".format(e))

try:
    db.commit()
except:
    db.rollback()