In [3]:
data = {0: {'delayed_bid': 340.25, 'delayed_ask': 340.4, 'delayed_last_traded': 340.4, 'delayed_prior close': 327.74},
       1: {'delayed_bid': 340.25, 'delayed_ask': 340.4, 'delayed_last_traded': 340.4, 'delayed_prior close': 327.74}}

In [6]:
for items in data:
    print(data[items])
    print(data[items]['delayed_bid'])

{'delayed_bid': 340.25, 'delayed_ask': 340.4, 'delayed_last_traded': 340.4, 'delayed_prior close': 327.74}
340.25
{'delayed_bid': 340.25, 'delayed_ask': 340.4, 'delayed_last_traded': 340.4, 'delayed_prior close': 327.74}
340.25

In [1]:
import pandas as pd

In [2]:
pd_1 = pd.DataFrame()

In [3]:
pd_1['action'] = "BUY"

In [8]:
pd_1.head()

Empty DataFrame
Columns: [action]
Index: []

In [1]:
tickers = ['MSFT', 'APPL', 'TSLA', 'FB', 'BRK.B', 'NVDA', 'JPM', 'V', 'JNJ', 'UNH', 'WMT', 'BAC', 'PG']

In [2]:
for ticker in tickers:
    print(tickers.index(ticker))

0
1
2
3
4
5
6
7
8
9
10
11
12

In [8]:
data = {0: {'delayed_last_traded': 336.29, 'delayed_prior': 336.72, 'delayed_bid': 336.07, 'delayed_ask': 336.24}, 1: {'delayed_bid': 1010.52, 'delayed_ask': 1011.95, 'delayed_prior': 1033.42}, 2: {'delayed_bid': 347.1, 'delayed_ask': 348.6, 'delayed_prior': 340.89}, 3: {'delayed_last_traded': 300.18, 'delayed_prior': 303.9, 'delayed_bid': 300.0, 'delayed_ask': 300.3}, 4: {'delayed_last_traded': 166.69, 'delayed_prior': 166.86, 'delayed_bid': 166.56, 'delayed_ask': 166.69}, 5: {'delayed_prior': 212.09, 'delayed_last_traded': 212.3, 'delayed_bid': 212.32, 'delayed_ask': 212.59}, 6: {'delayed_last_traded': 163.52, 'delayed_prior': 165.01, 'delayed_bid': 163.19, 'delayed_ask': 163.53}, 7: {'delayed_last_traded': 450.8, 'delayed_prior': 458.99, 'delayed_bid': 451.1, 'delayed_ask': 452.4}, 8: {'delayed_last_traded': 146.93, 'delayed_prior': 147.76, 'delayed_bid': 146.9, 'delayed_ask': 146.93}, 9: {'delayed_last_traded': 47.05, 'delayed_prior': 46.91, 'delayed_bid': 47.05, 'delayed_ask': 47.06}, 10: {'delayed_last_traded': 147.4, 'delayed_prior': 146.56, 'delayed_bid': 147.0, 'delayed_ask': 147.9}, 11: {}}

In [6]:
data

{0: {'delayed_last_traded': 336.29,
  'delayed_prior': 336.72,
  'delayed_bid': 336.07,
  'delayed_ask': 336.24},
 1: {'delayed_bid': 1010.52, 'delayed_ask': 1011.95, 'delayed_prior': 1033.42},
 2: {'delayed_bid': 347.1, 'delayed_ask': 348.6, 'delayed_prior': 340.89},
 3: {'delayed_last_traded': 300.18,
  'delayed_prior': 303.9,
  'delayed_bid': 300.0,
  'delayed_ask': 300.3},
 4: {'delayed_last_traded': 166.69,
  'delayed_prior': 166.86,
  'delayed_bid': 166.56,
  'delayed_ask': 166.69},
 5: {'delayed_prior': 212.09,
  'delayed_last_traded': 212.3,
  'delayed_bid': 212.32,
  'delayed_ask': 212.59},
 6: {'delayed_last_traded': 163.52,
  'delayed_prior': 165.01,
  'delayed_bid': 163.19,
  'delayed_ask': 163.53},
 7: {'delayed_last_traded': 450.8,
  'delayed_prior': 458.99,
  'delayed_bid': 451.1,
  'delayed_ask': 452.4},
 8: {'delayed_last_traded': 146.93,
  'delayed_prior': 147.76,
  'delayed_bid': 146.9,
  'delayed_ask': 146.93},
 9: {'delayed_last_traded': 47.05,
  'delayed_prior': 46.91,
  'delayed_bid': 47.05,
  'delayed_ask': 47.06},
 10: {'delayed_last_traded': 147.4,
  'delayed_prior': 146.56,
  'delayed_bid': 147.0,
  'delayed_ask': 147.9},
 11: {}}

In [8]:
for items in data:
    delayed_last_traded = 0
    delayed_bid = 0
    delayed_ask = 0
    delayed_prior = 0
    
    if data[items]:
        if 'delayed_last_traded' in data[items]:
            delayed_last_traded = 
        print(data[items])

{'delayed_last_traded': 336.29, 'delayed_prior': 336.72, 'delayed_bid': 336.07, 'delayed_ask': 336.24}
{'delayed_last_traded': 336.29, 'delayed_prior': 336.72, 'delayed_bid': 336.07, 'delayed_ask': 336.24}
{'delayed_bid': 1010.52, 'delayed_ask': 1011.95, 'delayed_prior': 1033.42}
{'delayed_bid': 1010.52, 'delayed_ask': 1011.95, 'delayed_prior': 1033.42}
{'delayed_bid': 347.1, 'delayed_ask': 348.6, 'delayed_prior': 340.89}
{'delayed_bid': 347.1, 'delayed_ask': 348.6, 'delayed_prior': 340.89}
{'delayed_last_traded': 300.18, 'delayed_prior': 303.9, 'delayed_bid': 300.0, 'delayed_ask': 300.3}
{'delayed_last_traded': 300.18, 'delayed_prior': 303.9, 'delayed_bid': 300.0, 'delayed_ask': 300.3}
{'delayed_last_traded': 166.69, 'delayed_prior': 166.86, 'delayed_bid': 166.56, 'delayed_ask': 166.69}
{'delayed_last_traded': 166.69, 'delayed_prior': 166.86, 'delayed_bid': 166.56, 'delayed_ask': 166.69}
{'delayed_prior': 212.09, 'delayed_last_traded': 212.3, 'delayed_bid': 212.32, 'delayed_ask': 212.59}
{'delayed_prior': 212.09, 'delayed_last_traded': 212.3, 'delayed_bid': 212.32, 'delayed_ask': 212.59}
{'delayed_last_traded': 163.52, 'delayed_prior': 165.01, 'delayed_bid': 163.19, 'delayed_ask': 163.53}
{'delayed_last_traded': 163.52, 'delayed_prior': 165.01, 'delayed_bid': 163.19, 'delayed_ask': 163.53}
{'delayed_last_traded': 450.8, 'delayed_prior': 458.99, 'delayed_bid': 451.1, 'delayed_ask': 452.4}
{'delayed_last_traded': 450.8, 'delayed_prior': 458.99, 'delayed_bid': 451.1, 'delayed_ask': 452.4}
{'delayed_last_traded': 146.93, 'delayed_prior': 147.76, 'delayed_bid': 146.9, 'delayed_ask': 146.93}
{'delayed_last_traded': 146.93, 'delayed_prior': 147.76, 'delayed_bid': 146.9, 'delayed_ask': 146.93}
{'delayed_last_traded': 47.05, 'delayed_prior': 46.91, 'delayed_bid': 47.05, 'delayed_ask': 47.06}
{'delayed_last_traded': 47.05, 'delayed_prior': 46.91, 'delayed_bid': 47.05, 'delayed_ask': 47.06}
{'delayed_last_traded': 147.4, 'delayed_prior': 146.56, 'delayed_bid': 147.0, 'delayed_ask': 147.9}
{'delayed_last_traded': 147.4, 'delayed_prior': 146.56, 'delayed_bid': 147.0, 'delayed_ask': 147.9}
{}

In [2]:
import datetime as dt

In [8]:
queryDate = (dt.datetime.today() - dt.timedelta(days=3)).date()
query_daily_price_sql = '''SELECT * from DAILY_PRICE  where run_date > "'''+str(queryDate)+'''" '''

In [9]:
print(query_daily_price_sql)

SELECT * from DAILY_PRICE  where run_date > "2021-11-13"

In [ ]:
'''SELECT * from DAILY_PRICE where close_date >= date('now', '-4 days')  '''

In [9]:
check_pd = pd.DataFrame(data)

In [10]:
check_pd

,0,1,2,3,4,5,6,7,8,9,10,11
delayed_last_traded,336.29,NaN,NaN,300.18,166.69,212.30,163.52,450.80,146.93,47.05,147.40,NaN
delayed_prior,336.72,1033.42,340.89,303.90,166.86,212.09,165.01,458.99,147.76,46.91,146.56,NaN
delayed_bid,336.07,1010.52,347.10,300.00,166.56,212.32,163.19,451.10,146.90,47.05,147.00,NaN
delayed_ask,336.24,1011.95,348.60,300.30,166.69,212.59,163.53,452.40,146.93,47.06,147.90,NaN

In [14]:
check_pd['action'] = "buy"

In [15]:
check_pd

,0,1,2,3,4,5,6,7,8,9,10,11,action
delayed_last_traded,336.29,NaN,NaN,300.18,166.69,212.30,163.52,450.80,146.93,47.05,147.40,NaN,buy
delayed_prior,336.72,1033.42,340.89,303.90,166.86,212.09,165.01,458.99,147.76,46.91,146.56,NaN,buy
delayed_bid,336.07,1010.52,347.10,300.00,166.56,212.32,163.19,451.10,146.90,47.05,147.00,NaN,buy
delayed_ask,336.24,1011.95,348.60,300.30,166.69,212.59,163.53,452.40,146.93,47.06,147.90,NaN,buy

In [34]:
check_pd.at[0, 'action'] = check_pd.iloc[0]['action']+str('stuff and stuff')

In [36]:
check_pd.iloc[0, check_pd.columns.get_loc('action')] = check_pd.iloc[0]['action']+str('stuff and stuff')

In [28]:
check_pd.iloc[0]['action']+str('sdsds')

'buysdsds'

In [37]:
check_pd

,0,1,2,3,4,5,6,7,8,9,10,11,action
delayed_last_traded,336.29,NaN,NaN,300.18,166.69,212.30,163.52,450.80,146.93,47.05,147.40,NaN,buystuff and stuff
delayed_prior,336.72,1033.42,340.89,303.90,166.86,212.09,165.01,458.99,147.76,46.91,146.56,NaN,buy
delayed_bid,336.07,1010.52,347.10,300.00,166.56,212.32,163.19,451.10,146.90,47.05,147.00,NaN,buy
delayed_ask,336.24,1011.95,348.60,300.30,166.69,212.59,163.53,452.40,146.93,47.06,147.90,NaN,buy
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,buystuff and stuff
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,buystuff and stuff

In [1]:
import datetime as dt

In [20]:
day1 = dt.datetime.today().date()

In [21]:
day1 -= dt.timedelta(days=4)

In [22]:
print(day1)

2021-12-05

In [23]:
if day1.weekday() >= 0 and day1.weekday() <= 4  :
    print(day1.weekday())
else:
    print('its weekend')

its weekend