In [3]:
data = {0: {'delayed_bid': 340.25, 'delayed_ask': 340.4, 'delayed_last_traded': 340.4, 'delayed_prior close': 327.74},
       1: {'delayed_bid': 340.25, 'delayed_ask': 340.4, 'delayed_last_traded': 340.4, 'delayed_prior close': 327.74}}

In [6]:
for items in data:
    print(data[items])
    print(data[items]['delayed_bid'])

{'delayed_bid': 340.25, 'delayed_ask': 340.4, 'delayed_last_traded': 340.4, 'delayed_prior close': 327.74}
340.25
{'delayed_bid': 340.25, 'delayed_ask': 340.4, 'delayed_last_traded': 340.4, 'delayed_prior close': 327.74}
340.25

In [1]:
import pandas as pd

In [6]:
pd_1 = pd.DataFrame()

In [7]:
pd_1['action'] = "BUY"

In [8]:
pd_1.head()

Empty DataFrame
Columns: [action]
Index: []

In [1]:
tickers = ['MSFT', 'APPL', 'TSLA', 'FB', 'BRK.B', 'NVDA', 'JPM', 'V', 'JNJ', 'UNH', 'WMT', 'BAC', 'PG']

In [2]:
for ticker in tickers:
    print(tickers.index(ticker))

0
1
2
3
4
5
6
7
8
9
10
11
12