# SQLlite3 Tables

This jupyter notebook is used to setup all necessay tables manually. Refer to https://docs.google.com/document/d/1vlbqEqaOGYHzpRV6Tdrp3lKW2PHheZtgGtp6GqPqdjQ/edit for strategy and table detials

In [1]:
import sqlite3
import datetime as dt

In [2]:
db = sqlite3.connect('/Users/jegankarunakaran/AlgoTrading/code/AlgoTrading/db/ema_rsi_camarilla.db')
c = db.cursor()

### Daily Price table
daily_price table will have the historical price data (Open | Close | High | Low | Volume)  with ticker and close date as primary key.

In [4]:
create_daily_price_sql = '''CREATE TABLE IF NOT EXISTS DAILY_PRICE(
    ticker TEXT NOT NULL, 
    close_date date, 
    open_price real(15,5), 
    close_price real(15,5), 
    high_price real(15,5),
    low_price real(15,5), 
    volume bigint , 
    PRIMARY KEY (ticker, close_date)
)'''

In [7]:
#c.execute(create_daily_price_sql)
#db.commit()

### Other Queries for reference

In [6]:
#Manage daily_price tables

#delete_daily_price_sql = '''DELETE FROM DAILY_PRICE'''
#drop_daily_price_sql = '''DROP TABLE DAILY_PRICE'''

In [10]:
#query data for the last X number of days from today. This is used to calculate Exponential Mean Average (EMA)
queryDate = (dt.datetime.today() - dt.timedelta(days=2)).date()
query_daily_price_sql = '''SELECT * from DAILY_PRICE 
    where close_date < "''' + str(queryDate) + '''"'''
c.execute(query_daily_price_sql)
result = c.fetchall()
#print(result)

In [12]:
#query data between two dates . This is used to calculate EMA backtesting
start_date = dt.datetime.strptime('20211101', "%Y%m%d").date()
end_date = (dt.datetime.strptime('20211101', "%Y%m%d") - dt.timedelta(days=2)).date()

query_daily_price_backtest_sql = '''SELECT * from DAILY_PRICE 
    where close_date between "''' + str(end_date) + '''" and "''' + str(start_date) +'''"'''

c.execute(query_daily_price_backtest_sql)
result = c.fetchall()
#print(result)

### Technical Indicator table

tech_ind table will store all the technical indicators needed for strategies. Again refer to doc for specific technical indicators needed for each strategies.

In [13]:
create_tech_ind_sql = '''CREATE TABLE IF NOT EXISTS TECH_IND(
    ticker TEXT NOT NULL, 
    run_date date, 
    ema real(15,5), 
    rsi real(15,5), 
    r3 real(15,5),
    s3 real(15,5),
    PRIMARY KEY (ticker, run_date)
)'''

In [14]:
#c.execute(create_tech_ind_sql)
#db.commit()

In [15]:
db.close()

### Intraday Price tables

In [ ]:
# Table for individual Ticker

In [5]:
tickers = ['MSFT', 'TSLA', 'FB', 'NVDA', 'JPM', 'V', 'JNJ', 'UNH', 'WMT', 'BAC', 'PG']
for ticker in tickers:
    intra_sql = '''CREATE TABLE IF NOT EXISTS TICKER_{} (time datetime primary key, delayed_bid real(15,5),
          delayed_ask real(15,5), delayed_last_traded real(15,5), delayed_prior real(15,5))'''.format(ticker)
    c.execute(intra_sql)
    db.commit()

### Transaction table

In [5]:
create_transaction_sql = '''CREATE TABLE IF NOT EXISTS TRADE_TRANSACTION (
    transaction_id integer primary key AUTOINCREMENT, 
    strategy_name text not null, 
    ticker text not null, 
    tech_indicator text, 
    action text,
    unit_price real(15,5), 
    quantity int, 
    total_price real(15,5),     
    status int,
    time datetime
)'''

In [6]:
c.execute(create_transaction_sql)
db.commit()

### Portfolio table

In [1]:
create_portfolio_sql = '''CREATE TABLE IF NOT EXISTS PORTFOLIO (
    strategy_name text not null, 
    ticker text not null, 
    active_stocks int, 
    total_price real(15,5), 
    time datetime,
    PRIMARY KEY (strategy_name, ticker)
)'''

In [5]:
c.execute(create_portfolio_sql)
db.commit()

In [9]:
#tickers = ['MSFT', 'TSLA', 'FB', 'NVDA', 'JPM', 'V', 'JNJ', 'UNH', 'WMT', 'BAC', 'PG']
tickers = ['CASH']
for ticker in tickers:
    try:
        vals = [ticker, 0, 10000]
        query = "INSERT INTO PORTFOLIO(strategy_name, ticker, active_stocks,total_price, time) VALUES ('ema_rsi_camarilla',?,?,?,CURRENT_TIMESTAMP)"
        c.execute(query,vals)
    except Exception as e:
            print("db error {}".format(e))
try:
    db.commit()
except:
    db.rollback()

In [7]:
tickers = ['MSFT', 'TSLA', 'FB', 'NVDA', 'JPM', 'V', 'JNJ', 'UNH', 'WMT', 'BAC', 'PG']
#tickers = ['BAC']
for ticker in tickers:
    try:
        intra_sql = '''DELETE FROM TICKER_{} where delayed_last_traded = 0'''.format(ticker)
        c.execute(intra_sql)
    except Exception as e:
        print("db error {}".format(e))
try:
    db.commit()
except:
    db.rollback()

In [3]:
create_index_daily_price_sql = '''CREATE TABLE IF NOT EXISTS INDEX_DAILY_PRICE(
    ticker TEXT NOT NULL, 
    close_date date, 
    open_price real(15,5), 
    close_price real(15,5), 
    high_price real(15,5),
    low_price real(15,5), 
    volume bigint , 
    PRIMARY KEY (ticker, close_date)
)'''

In [5]:
c.execute(create_index_daily_price_sql)
db.commit()

## Back Testing Tables

In [3]:
create_backtest_transaction_sql = '''CREATE TABLE IF NOT EXISTS TRADE_TRANSACTION_BACKTEST (
    transaction_id integer primary key AUTOINCREMENT, 
    strategy_name text not null, 
    ticker text not null, 
    tech_indicator text, 
    action text,
    unit_price real(15,5), 
    quantity int, 
    total_price real(15,5),     
    status int,
    time datetime
)'''

In [4]:
c.execute(create_backtest_transaction_sql)
db.commit()

In [5]:
create_portfolio_backtest_sql = '''CREATE TABLE IF NOT EXISTS PORTFOLIO_BACKTEST (
    strategy_name text not null, 
    ticker text not null, 
    active_stocks int, 
    total_price real(15,5), 
    time datetime,
    PRIMARY KEY (strategy_name, ticker)
)'''

In [6]:
c.execute(create_portfolio_backtest_sql)
db.commit()

In [4]:
#tickers = ['MSFT', 'TSLA', 'FB', 'NVDA', 'JPM', 'V', 'JNJ', 'UNH', 'WMT', 'BAC', 'PG']
tickers = ['MSFT', 'TSLA', 'FB', 'NVDA', 'JPM', 'V', 'JNJ', 'UNH', 'WMT', 'BAC', 'PG']
#tickers = ['CASH']
for ticker in tickers:
    try:
        #vals = [ticker, 0, 0]
        query = "update portfolio_backtest set active_stocks = 0 , total_price = 0 where strategy_name = 'ema_rsi_camarilla' and ticker='{}'".format(ticker)
        c.execute(query)
    except Exception as e:
            print("db error {}".format(e))
try:
    db.commit()
except:
    db.rollback()

db error Incorrect number of bindings supplied. The current statement uses 0, and there are 3 supplied.
db error Incorrect number of bindings supplied. The current statement uses 0, and there are 3 supplied.
db error Incorrect number of bindings supplied. The current statement uses 0, and there are 3 supplied.
db error Incorrect number of bindings supplied. The current statement uses 0, and there are 3 supplied.
db error Incorrect number of bindings supplied. The current statement uses 0, and there are 3 supplied.
db error Incorrect number of bindings supplied. The current statement uses 0, and there are 3 supplied.
db error Incorrect number of bindings supplied. The current statement uses 0, and there are 3 supplied.
db error Incorrect number of bindings supplied. The current statement uses 0, and there are 3 supplied.
db error Incorrect number of bindings supplied. The current statement uses 0, and there are 3 supplied.
db error Incorrect number of bindings supplied. The current statement uses 0, and there are 3 supplied.
db error Incorrect number of bindings supplied. The current statement uses 0, and there are 3 supplied.

In [ ]:
#tickers = ['MSFT', 'TSLA', 'FB', 'NVDA', 'JPM', 'V', 'JNJ', 'UNH', 'WMT', 'BAC', 'PG']
#tickers = ['MSFT', 'TSLA', 'FB', 'NVDA', 'JPM', 'V', 'JNJ', 'UNH', 'WMT', 'BAC', 'PG']
tickers = ['CASH']
for ticker in tickers:
    try:
        vals = [ticker, 0, 10000]
        query = "UPDATE PORTFOLIO_BACKTEST(strategy_name, ticker, active_stocks,total_price, time) VALUES ('ema_rsi_camarilla',?,?,?,CURRENT_TIMESTAMP)"
        c.execute(query,vals)
    except Exception as e:
            print("db error {}".format(e))
try:
    db.commit()
except:
    db.rollback()

In [8]:
#tickers = ['MSFT', 'TSLA', 'FB', 'NVDA', 'JPM', 'V', 'JNJ', 'UNH', 'WMT', 'BAC', 'PG']
#tickers = ['MSFT', 'TSLA', 'FB', 'NVDA', 'JPM', 'V', 'JNJ', 'UNH', 'WMT', 'BAC', 'PG']
tickers = ['CASH']
for ticker in tickers:
    try:
        vals = [ticker, 0, 10000]
        query = "INSERT INTO PORTFOLIO_BACKTEST(strategy_name, ticker, active_stocks,total_price, time) VALUES ('ema_rsi_camarilla',?,?,?,CURRENT_TIMESTAMP)"
        c.execute(query,vals)
    except Exception as e:
            print("db error {}".format(e))
try:
    db.commit()
except:
    db.rollback()